.ui.compact.raised.segment{:style => "margin: 0 auto;"}
  .ui.attached.message
    .header
      Edit Profile
    %p Fill out the form below to edit your account details
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui form attached fluid segment' }) do |f|
    .field
      = f.label :name
      = f.text_field :name, autofocus: true
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password
      %i (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "current-password"
    .actions
      - if current_user.admin?
        = link_to "Back", admin_infobase_index_path, style: 'color: white;text-decoration: none;', class: "ui black button"
      - else
        = link_to "Back", users_dashboard_index_path, style: 'color: white;text-decoration: none;', class: "ui black button"
      = f.submit "Update", class: "ui right floated positive button"
  .ui.bottom.attached.warning.message{:style => "text-align: center;"}
    = button_to "Cancel my account", registration_path(resource_name), method: :delete, class: "negative ui button"
