.ui.compact.raised.segment{:style => "margin: auto; top: 20%; min-width: 400px; padding: 10px"}
  .ui.attached.message
    .header
      Welcome to our site!
    %p Fill out the form below to sign-up for a new account
  = form_for(resource, as: resource_name, html:{class: 'ui form attached fluid segment'}, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :name
      = f.text_field :name, autofocus: true, autocomplete: "name"
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions{:style => "text-align:center;"}
      = f.submit "Sign up", class: "ui positive button"
