%p#notice= notice
%h1 Menus
%table
  %thead
    %tr
      %th Title
      %th Price
      %th Category
      %th Day
      %th{:colspan => "3"}
  %tbody
    - @menus.each do |menu|
      %tr
        %td= menu.title
        %td= menu.price
        %td= menu.category
        %td= menu.day
%br/
= link_to 'Add to Menu', new_menu_path
