.ui.centered.container.segment#info-container
  .ui.green.ribbon.label
    %em "User is the word computer professionals use when they mean "idiot"." -
    Dave Barry

  .ui.secondary.menu
    .ui.center.aligned.grid#info-tabs
      = link_to 'Registered Users', admin_infobase_index_path, class: 'ui item', data: { tab: 'users' }
      = link_to "Menu for #{current_day_of_week.capitalize}", admin_infobase_index_path, class: 'ui item', data: { tab: 'menu' }
      = link_to 'List of Orders', admin_infobase_index_path, class: 'ui item', data: { tab: 'orders' }
  = render 'info', infobase: @infobase_facade