- if @cart_facade.cart_items.any?
  .ui.compact.raised.segment#cart-container-position
    .ui.attached.message
      .header#cart-message
        .h2
          %i.shopping.cart.icon
          Your Shopping Cart
    .ui.form.attached.segment
      = form_for(@cart_facade.order, url: orders_path, method: 'post') do |f|
        %table.ui.very.basic.table
          %tbody
            - @cart_facade.cart_items.each do |item|
              %tr
                %td.left.aligned
                  %strong
                    %h4
                      = item.title
                %td.right.aligned#cart-item-price
                  %strong
                    %h4
                      = number_to_currency item.price
                %td.right.aligned#cart-delete-button
                  = link_to "✖", cart_path(item), method: "delete", class: "ui compact red button"
        .header#cart-message
          %h4
            %i.ui.truck.icon
            Enter Delivery Address
        %br
        .field
          = f.label :address, id: 'cart-address-field-label'
          = f.text_area :address, id: 'cart-address-field-text-area'
        .ui.two.fields
          .twelve.wide.field#cart-total-field
            %h4 Total: #{number_to_currency @cart_facade.total_price}
          .eight.wide.field#cart-confirm-field
            = f.submit "Confirm", class: "ui positive button"
- else
  = render 'empty_cart'

