.ui.compact.raised.segment{:style => "margin: auto; top: 20%; min-width: 400px; padding: 10px"}
  .ui.attached.message
    .header
      Welcome to our site!
    %p Fill out the form below to log-in for your account
  = form_for(resource, as: resource_name, html:{class: 'ui form attached fluid segment'}, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      = f.password_field :password, autocomplete: "current-password"
    .actions{:style => "text-align:center;"}
      = f.submit "Log in", class: "ui positive button"
